# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IDE
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

# Environment & secrets
.env
src/main/resources/keys/private.pem
src/main/resources/keys/public.pem

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
